
<h3>List of comics</h3>
<ul>
    <li *ngFor="let comic of comics">
        {{comic.title}} - {{comic.year}} - {{comic.author}}
        <span *ngIf="comic.year == 2020" 
        [style.background]="comic.year == 2020 ? 'green': 'transparent'"
        [style.color]="comic.year == 2020 ? 'white': 'black'">
         NEW!!! 
        </span>
    </li>
    
</ul>

<p>Add titles</p>
<p><input type="text" [(ngModel)]="newTitle"></p>
<p>{{ newTitle }}</p>

<h3>List of titles</h3>
<ul>
    <li *ngFor="let title of comicsTitle">{{title}}</li>
</ul>

