

    <h1>Welcome to {{ title }}</h1>
    <h2>{{ description }}</h2>

    <nav>
        <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
        <a [routerLink]="['/biblio']" [routerLinkActive]="['active']">Books</a>
        <a [routerLink]="['/comics']" [routerLinkActive]="['active']">Comics</a>
        <a [routerLink]="['/magazines']" [routerLinkActive]="['active']">Magazines</a>
    </nav>

    <!--<biblio></biblio>-->

    <!--<comics></comics>-->

    <router-outlet></router-outlet>