
#userbox{
    border: grey 1px solid;
    box-shadow: grey 2px 5px;
    margin: 5px 2px;
    width: auto;
}

#avatar{
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
}

#userdata{
    display: inline-block;
    margin: 2px;
}